.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  top:55px;

  background-color:white;
  width:72px;
  z-index:200;
  padding-top:5px;
}
.sidebar-link{
  /* background-color:white; */
  height:90px;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction:column;
  cursor:pointer;
}
.sidebar-link:hover{
  background-color: rgb(231, 231, 231);
}

/* New Technique */

.sidebar-link img{
  height:40px;
  margin-bottom:4px;
}
.sidebar-link div{
  font-family:roboto, arial;
  font-size:10px;
}